<div class="container-fluid">
    <div class="container pt-30 mb-30">
        <div class="container-head">
            <div class="container-left">
                <h3 class="container-title">Calendar</h3>
            </div>
            <div class="container-right">
                <a routerLink="/add-booking" aria-label="Add Booking" class="btn btn-primary" data-toggle="modal" data-target="#addBookingModal">Add Booking</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <mat-calendar startView="month" [dateClass]="dateClass" [(selected)]="selectedDate" (selectedChange)="onDateChange($event)"></mat-calendar>
                    <div class="spacer"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <mat-card>
                                    <mat-card-content>
                                        <p> Selected Date: {{ selectedDate | date: 'dd MMMM, yyyy' }} </p>
                                        <p> {{ mealBooked }} </p>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>